.social {
    height: 180px;
    margin-top: 50px;
    padding: 60px;
    background-color: #eeeeee;
}
.a,
.b,
.c,
.d,
.e,
.f,
.g,
.h,
.i,
.g,
.k {
    width: 170px;
    height: 35px;
    filter: grayscale(100%);
}
.divone {
    display: flex;
    gap: 33px;
    justify-content: space-around;
}
.divtwo {
    margin-top: 80px;
    display: flex;
    gap: 60px;
    justify-content: space-around;
}
.a:hover,
.b:hover,
.c:hover,
.d:hover,
.e:hover,
.f:hover,
.h:hover,
.i:hover,
.g:hover,
.k:hover,
.g:hover {
    filter: grayscale(0);
}
@media (max-width:700px) {
    .social {
        position: absolute;
        top: 2150px;
        width: 550px;
        height: 250px;
    }
    .divtwo,
    .divone {
        display: block;

        width: 600px;
    }
    .c,
    .a,
    .b,
    .f {
        margin-bottom: 20px;
        padding-left: 15px;
        ;
    }
    .g,
    .h,
    .i,
    .d,
    .e {
        margin-bottom: 10px;
        padding-left: 20px;
    }
}
