/* .imh{
    margin-bottom: 30px;
    width:100%;
    height: 130px;
}
.opn{
    width:400px;
    height: 120px;
    position: relative;
}
.pr{
    width:110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    top:-60%;
    left:70px;
}
.wo{
    position: absolute;
    left:200px;
    top:-15%;
}
.koi{
    display: flex;
    gap:50px;
    height: 600px;
}
.div{
    display: block;
}
.coo0on{
    display: flex;
    gap:90px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.one-div{
    height: 250px;
} */