.Div {
    display: flex;
    width: 550px;
    gap: 10px;
    height: 300px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #97bde15c;
    padding-left: 30px;
}

.get {
    width: 300px;
    padding-bottom: 40px;
}

.iimmgg {
    padding-top: 30px;
}