.myall {
    border-radius: 10px;
    width: 500px;
}
.ALL {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-left: 60px;
    margin-top: 50px;
}
.of {
   width:660px;
    color: #747579;
    font-weight: 450;
    line-height: 1.9;
    margin-left: 10px;
    margin-top: 10px;
}
@media (max-width:700px){
   p,.of{
    width:500px;
   }
    .myall{
        width:450px;   
    }
  h1{
   width:570px;
  }
    .ALL{
        display: block;
        margin-left: 15px;
    }
}