.ca {
    width: 1100px;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
    height: 250px;
}

@media (max-width:700px) {
    .ca {
        margin-left: 70px;
        width: 350px;
        padding-left: 30px;
    }
}