.made {
  background-image: linear-gradient(360deg, #f28e26 0%, #fd644f 100%);
  width: 250px;
  height: 300px;
  color: white;
  padding: 20px;
  top: 320px;
  left: 900px;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width:700px) {
  p.des {
    width: 100px;
    position: absolute;
    left: 5px;
  }
  div.made {
    left: 20px;
    top: 620px;
    width: 420px;
    height: 150px;
  }
}
@media (min-width:700),
(max-width:1000px) {
  p.des {
    width: 443px;
  }
  .made {
    top: 330px;
    width: 350px;
    height: 230px;
    ;
    left: 490px;
  }
}