h5 {
    color: #747579;
    margin-bottom: 15px;
}

h5:hover {
    color: rgb(68, 68, 245);
    cursor: pointer;
}

.childa1,
.childa2,
.childa3 {
    width: 130px;
}

.Merr {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    position: relative;
}

.child {
    position: absolute;
    top: 20px;
}

.a1 {
    left: 90px;
}
.a2 {
    left: 250px;
}

.a3 {
    left: 450px;
}

.a4 {
    left: 600px;
}
@media (max-width:700px){
    .Merr {
        display:block;
    }
}