.aallll{
    display: flex;
    gap:60px;
    margin-left: 50px;
    margin-top: 50px;
}
.main{
    margin-bottom: 50px;
    width:300px;
}
.a,.b,.c,.d{
    color:rgb(75, 75, 208);
    width:60px;
    height: 60px;
    margin-right: 20px;
    margin-top: 30px;
}
.edu{  
   margin-bottom: 40px;
    width:300px;
}
.sop{
    width:1000px;
}
.end{
    display: flex;
    gap:300px;
    margin-left: 60px;
}
.of{
    font-weight: lighter;
    display: flex;
    gap:15px;
}